/* body adjustments */ 

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #161616;
  font-family: 'Source Code Pro', monospace;
}

/* general */

h1 {
  font-family: 'Audiowide', cursive;
}

h2 {
  font-family: 'Exo', sans-serif;
  color: #ffc933;
  text-shadow: 1px 1px 2px black;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: #ffc933
}

ul{
  list-style: none;
}

/* app width */

.app {
  margin: 0 auto;
  color: white;
}

/* header styling */

.header {
  padding: 2rem;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.header-title, .header-logo, .header-list {
  width: 33.3%;
}

.header-title {
  text-align: center;
}

.header-logo {
  max-width: 20vw;
  height: auto;
}

.header-list {
  display: flex;
  justify-content: center;
  padding-left: 0px;
}

.header-list-item {
  margin:  0.5rem;
}

/* about section styling */

.about {
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
    url('img/yellow-gray.jpg');
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.intro {
  max-width: 60%;
  display:flex;
  justify-content:center;
  align-items: center;
  padding: 2rem
}

.intro-container-img, .intro-container-info {
  max-width: 45%;
  text-align: center;
}

.intro-container-img figure img {
  width: 20rem;
  height: auto;
  border-radius: 5px;
  clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 82%, 70% 100%, 30% 100%, 0 100%, 0 18%);
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.intro-container-img figure:hover img {
  -webkit-transform: scale(1.2);
	transform: scale(1.2);
}

  .intro-container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.intro-title {
  color: #161616;
}

.intro-job {
  font-size: 1.5rem;
}

.intro-title, .intro-job, .intro-button {
  max-width: 75%;
  text-align: center;
}

.resume {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 2rem;
}

.resume-container {
  width: 90%;
  margin: auto;
}

.resume-title {
  color: #161616;
}

.resume-subtitle {
  color: #9798a0
}


/* skills section styling */ 

.skills {
  padding-top: 2rem;
}

.skills-container {
  width: 90%;
  margin: auto;
}

.skills-dev-container, .skills-info-container {
  width: 90%;
  margin: auto;
}

.skills-dev-subcontainer, .skills-info-subcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.skills-dev-title, .skills-info-title {
  color: #9798a0
}

.skills-dev-item, .skills-info-item {
  width: 40%;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #2a2a2a;
  background-color: #2a2a2a;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px #ffc933;
  transition: all 0.5s ease;
  -webkit-transition-delay: all 0.5s ease;
}

.skills-dev-item, .skills-info-item, .notions-item {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.skills-icon, .skills-item-title, .skills-item-text, .notions-icon, .notions-item-title, .notions-item-text {
  transform: translateZ(25px);
}

.skills-dev-item:hover, .skills-info-item:hover {
  box-shadow: 0px 0px 10px 1px #ffffff;
}

.skills-icon img {
  height: 2rem;
  width: 2rem;
}

/* notions section styling */

.notions-container {
  background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)),
    url('img/concrete.jpg');
  background-size: cover;
  color: #161616;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.notions-icon img {
  height: 2em;
  width: 2em;
}

.notions-dev-container {
  width: 90%;
  margin: auto;
}

.notions-dev-subcontainer {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.notions-item {
  width: 40%;
  margin: 1rem;
  padding: 1rem;
  background-color: #d2d7da;
  border: 1px solid #161616;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px #ffc933;
  transition: all 0.5s ease;
  -webkit-transition-delay: all 0.5s ease;
}

.notions-item:hover {
  box-shadow: 0px 0px 10px 1px #161616;
}

/* projects section styling */

.projects {
  width: 90%;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.project-container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-subcontainer {
  width: 40%;
  padding: 2rem;
}

.project-subcontainer img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

.project-text {
  text-align: center;
}

.projects-subtitle {
  text-align: center;
}

/* contact section styling */

.contact {
  background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)),
  url('img/yellow-gray-reversed.jpg');
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.contact-container {
  width: 90%;
  margin: auto;
}

.contact-subcontainer, .cv-container {
  width: 90%;
  margin: auto;
}

.contact-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 1rem;
}

.contact-list-item img, .cv-container img {
  height: 2em;
  width: 2em;
  margin: 0.5rem;
}

.contact-list-item, .cv-item {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d2d7da;
  border: 1px solid #161616;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px #161616;
  -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.contact-list-item:hover, .cv-item:hover {
  border: 1px solid #d2d7da;
  box-shadow: 0px 0px 10px 1px #ffffff;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.contact-list-item a, .cv-container a{
  color: #161616;
  font-weight: bold;
}

.cv-subcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 1rem;
}

/* footer section styling */

.footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer-text {
  text-align: center;
}